.button{
  height: 52px;
  width: 70px;
  border:2px solid #cccccc;
  display: inline-block;
  float:left;
  margin-right: 20px;
  border-radius:6px;
  text-align: center;
  margin-top: 20px;
  &:hover{
  background-color: $brand-color;
  border-color: $brand-color;
  cursor:pointer;
  }
  &:hover .stroke, &:hover path, &:hover polygon{
    fill:#fff;
  }
}

.button-active{
  background-color: $brand-color;
  border-color: $brand-color;
    .stroke, path, polygon{
    fill:#fff;
  }
}


/* favorite */

.favorite-icon{
margin: 7px 0 0 0px;
width: 40px;
height: 40px;
overflow:hidden;
display: inline-block;
position:relative;
  .favorite-art{
    position:absolute;
    top:0px;
    width: 40px;
    transition: all 150ms ease-in-out;
  }
}

.favorite-icon .sliding-down{
  top:-40px;
}
